<VirtualHost *:443>

servername {{ servername }}
documentroot /var/www/wordpress

   SSLEngine on
   SSLCertificateFile /etc/ssl/certs/wordpress.crt
   SSLCertificateKeyFile /etc/ssl/private/wordpress.key

</VirtualHost>
